@model IndexViewModel

<div>@Model.Profile.FirstName @Model.Profile.LastName</div>
<div>@Model.Profile.Email</div>
@*<img src="~/images/profiles/@Model.Profile.ImageName" alt="" height="100" width="100" />*@

<img src="https://cloud9999.blob.core.windows.net/profile-images/@Model.Profile.ImageName" alt="" height="100" width="100" />

