@model AccountEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProfileEditForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Form.FirstName" class="control-label"></label>
                <input asp-for="Form.FirstName" class="form-control" />
                <span asp-validation-for="Form.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form.LastName" class="control-label"></label>
                <input asp-for="Form.LastName" class="form-control" />
                <span asp-validation-for="Form.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form.StreetName" class="control-label"></label>
                <input asp-for="Form.StreetName" class="form-control" />
                <span asp-validation-for="Form.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form.PostalCode" class="control-label"></label>
                <input asp-for="Form.PostalCode" class="form-control" />
                <span asp-validation-for="Form.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form.City" class="control-label"></label>
                <input asp-for="Form.City" class="form-control" />
                <span asp-validation-for="Form.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
