@model LoginViewModel

<section class="login">
    <div class="container">
        <form asp-action="Login" method="post" asp-route-ReturnUrl="@Model.ReturnUrl">
            <div class="login-form-error-summary">
                <div asp-validation-summary="ModelOnly" class="error"></div>
            </div>
            <div class="login-form-email">
                <input asp-for="Form.Email" placeholder="@Html.DisplayNameFor(m => m.Form.Email)" />
                <span asp-validation-for="Form.Email" class="error"></span>
            </div>
            <div class="login-form-password">
                <input asp-for="Form.Password" placeholder="@Html.DisplayNameFor(m => m.Form.Password)" />
                <span asp-validation-for="Form.Password" class="error"></span>
            </div>
            <button class="btn-theme mt-2" type="submit">Submit</button>
            <div class="login-form-link">
                <span class="me-2">Don't have an Account yet?</span>
                <a asp-action="Register">Register here</a>
            </div>
        </form>
    </div>
</section>