@model _02_Assignment.Models.Forms.RegisterForm

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_CenterScreen.cshtml";
}

<section class="registerform">
    <div class="title">
        <h1 class="headline">Please Login to Your Account</h1>
        <div class="underline"></div>
    </div>
</section>
