<section class="product-grid">
        <div class="container">
            <div class="title">Featured Products</div>

            <div class="row row-cols-1 row-cols-md-4 g-4">
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
                <partial name="_ProductCardPartial" />
            </div>
        </div>
    </section>