<div class="menulinkicons">
    <a asp-controller="Search" asp-action="Index" class="menu-link"><i class="fa-regular fa-magnifying-glass"></i></a>
    <a asp-controller="Products" asp-action="Compare" class="menu-link"><i class="fa-regular fa-code-compare"></i></a>
    <a asp-controller="Cart" asp-action="WishList" class="menu-link"><i class="fa-regular fa-heart"></i></a>
    <a asp-controller="Cart" asp-action="Index" class="menu-link"><i class="fa-regular fa-bag-shopping"></i></a>
</div>