<nav class="menu">
    <a asp-controller="Home" asp-action="Index" class="menu-link">Home</a>
    <a asp-controller="Products" asp-action="Index" class="menu-link">Products</a>
    <a asp-controller="Contacts" asp-action="Index" class="menu-link">Contacts</a>
</nav>