<div class="rating">
    <i class="fa-sharp fa-solid fa-star"></i>
    <i class="fa-sharp fa-solid fa-star"></i>
    <i class="fa-sharp fa-solid fa-star"></i>
    <i class="fa-sharp fa-solid fa-star"></i>
    <i class="fa-sharp fa-solid fa-star"></i>
</div>