<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="titles">
                <p class="title-2">GET UP TO 40% OFF</p>
                <p class="title-1">Don't Miss This Opportunity</p>
                <p class="title-3">Online shopping free home delivery over $100</p>
                <button class="btn btn-theme mt-4">SHOP NOW</button>
            </div>            
        </div>
        <img src="~/images/showcase-img.png" alt="" />
    </div>
</section>